body {
	background-color:rgb(255, 255, 255);
  padding: 50px;
 
}
.capital{
  max-width: 450px;
}

h3{
  color:dodgerblue;
text-align: left;
}

.container{
    margin-top: 200px;
    margin-bottom: 400px;
    text-align: center;
    background-color: rgb(223, 219, 219);
    border-style:  solid;
     border-color:dodgerblue;
     box-shadow: 10px 10px grey;
     padding: 50px;
  }